@use '../../index.scss';

@mixin button($name, $color, $bg-color) { 
  .#{$name} {
    padding: 0.5rem 0.75rem;
    border: 1px solid #{$color};

    font-size: 1.10rem;
    font-weight: 600;

    color: #{$color};
    background-color: #{$bg-color};

    cursor: pointer;
  }
}

@include button(normal, index.$secondary-color, index.$main-color);
@include button(inverted, index.$main-color, index.$secondary-color);
@include button(alternative, index.$details-color, index.$secondary-color);