@use '../../index.scss';
@import '../../mixins.scss';

@mixin image-styles($num, $rotate, $size, $top, $right, $delay) {
  &:nth-child(#{$num}){
    @include pop-animation;
    opacity: 0;
    animation-delay: #{$delay};
    width: #{$size};
    height: #{$size};
    transform: rotateZ(#{$rotate}) !important;
    top: #{$top};
    right: #{$right};
  }
  
}

.images-container {
  display: none;
  position: relative;

  width: calc(100% - 25rem);
  height: 100%;

  img {
    position: absolute;

    filter: drop-shadow(0 0 0.5rem index.$main-color);
    background-color: #fff;
    border-radius: 50%;

    @include image-styles(1, -13deg, 225px, 1.75rem, 0.75rem, 0.3s);
    @include image-styles(2, 16deg, 200px, calc(1.75rem + 225px), calc(0.75rem + 225px), 0.6s);
    @include image-styles(3, -11deg, 150px, calc(1.75rem + 425px), 1.25rem, 0.9s);
  }
  @media screen and (min-width: 971px) {
    display: block;
  }
}
