@mixin pop-animation {
  animation-name: opacity, size;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

@mixin text-shadow($color) {
  text-shadow: 1px 1px 2px #{$color};
}
@mixin root-page-container{
  min-height: calc(100vh - 64px - 3rem);
  padding: 3rem 0;
  margin: 1.5rem 0;

  background-color: index.$details-color;

  border: 1px solid index.$secondary-color;
}

@mixin image-styles($num, $rotate, $size, $top, $right, $delay) {
  &:nth-child(#{$num}){
    @include pop-animation;
    opacity: 0;
    animation-delay: #{$delay};
    width: #{$size};
    height: #{$size};
    transform: rotateZ(#{$rotate}) !important;
    top: #{$top};
    right: #{$right};
  }
  
}